html {
  font-size: 62.5%;
}

body {
  color: #444;
  font-family: "adobe-garamond-pro-1", "adobe-garamond-pro-2", Georgia, serif;
  font-size: 2.1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 400;
  line-height: 1.4;
}



/* -------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: "nimbus-sans-1", "nimbus-sans-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: -0.04rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  margin-top: 0;
}

h1 {
  font-size: 4.4rem;
  margin-top: 10rem;
}

h2 {
  font-size: 3.2rem;
  margin-top: 8rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2.4rem;
  margin-top: 2rem;
}

@media (max-width: 640px) {
  h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    margin-top: 8rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 2.2rem;
    margin-top: 2rem;
  }
}

p {
  margin: 0 0 1.6rem 0;
}

a {
  color: #3498db;
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 50%, #3498db 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #3498db 50%);
  background-position: 0 95%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  text-decoration: none;
}

a:hover,
a:active,
a:visited {
  color: #2980b9;
}



/* -------------------------------------------------------------------------- */

.no-wrap {
  white-space: nowrap;
}



/* -------------------------------------------------------------------------- */

.Block {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.Block-inner {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.Block:after,
.Block-inner:after {
  clear: both;
  content: "";
  display: table;
}



/* -------------------------------------------------------------------------- */

.PageHeader {
  letter-spacing: -0.04rem;
  font-family: "nimbus-sans-1", "nimbus-sans-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
}

.PageHeader h1 {
  font-weight: 200;
}

.PageHeader strong {
  color: #444;
  font-weight: 400;
}

.PageHeader p {
  font-size: 2.6rem;
  font-weight: 200;
  line-height: 1.25;
}



/* -------------------------------------------------------------------------- */

.Mugshot {
  float: right;
  margin: 0 0 1rem 1rem;
  max-width: 50%;
}

.ProjectScreenshot {
  float: right;
  height: 182px;
  margin: 0 0 1rem 1rem;
  width: 293px;
}



/* -------------------------------------------------------------------------- */

.Endorsement {
  border-bottom: 0.1rem dashed #eee;
  margin-bottom: 2rem;
}

.Endorsement-quote {
  border-left: 0.5rem solid #f8f8f8;
  margin-left: 0;
  padding-left: 1rem;
}

.Endorsement-meta {
  display: block;
  font-size: 1.5rem;
  margin-left: 2.5rem;
}



/* -------------------------------------------------------------------------- */

.PageFooter {
  font-family: "nimbus-sans-1", "nimbus-sans-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background-color: #eee;
  padding: 2rem 0;
  margin-top: 8rem;
}



/* -------------------------------------------------------------------------- */

#content {
  min-height: 100rem;
}



/* -------------------------------------------------------------------------- */

.vcard .photo,
.vcard .url,
.vcard .org {
  display: none;
}

.vcard .tel {
  white-space: nowrap;
}
