@media (min-width: 30em) {
  .row {
    display: table;
    margin: 0 2em 2em 2em;
    table-layout: fixed;
    width: 100%;
  }

  .col {
    display: table-cell;
  }

  .col-66 {
    display: table-cell;
    width: 66%;
  }

  .col-75 {
    display: table-cell;
    width: 75%;
  }
}
