html {
  color: #444;
  font-family: "ff-tisa-web-pro", serif;
  font-size: 17px;
  line-height: 1.6;
}

@media (min-width: 768px) {
  html {
    font-size: 19px;
  }
}

section,
footer {
  margin: 0 20px 2em 20px;
  position: relative;
}

@media (min-width: 768px) {
  section,
  footer {
    margin: 0 50px 2em 50px;
  }
}

a {
  color: #d10a0a;
}

h1, h2, h3, h4, h5 {
  color: #d10a0a;
  font-family: "proxima-nova", sans-serif;
  font-weight: normal;
  line-height: 1.4;
}

h3 {
  font-size: 1em;
}


/* -------------------------------------------------------------------------- */


.row {
  margin-bottom: 2.5em;
}

@media (min-width: 768px) {
  .row {
    display: table;
    margin-bottom: 1em;
    table-layout: fixed;
    width: 100%;
  }

  .col {
    display: table-cell;
  }

  .col-66 {
    display: table-cell;
    width: 66%;
  }

  .col-75 {
    display: table-cell;
    padding-left: 1em;
    width: 75%;
  }
}


/* -------------------------------------------------------------------------- */


.Intro {
  margin-top: 2em;
}

.Intro-head {
  font-size: 1.2em;
  line-height: 1.4;
}


/* -------------------------------------------------------------------------- */


.Upcoming {}

.Upcoming-column {
  width: 250px;
}

.Upcoming-box {
  border-radius: 2em;
  border: 0.6em solid #d10a0a;
  font-family: "proxima-nova", sans-serif;
  line-height: 1;
  text-align: center;
  width: 10em;
}

.Upcoming-header {
  background-color: #d10a0a;
  color: #fff;
  font-weight: bold;
  margin: 0 0 0.5em 0;
  padding: 0.5em 0 0.75em 0;
  text-transform: uppercase;
}

.Upcoming-date {
  font-size: 2.2em;
  margin: 0 0 0.1em 0;
}

.Upcoming-venue {
  line-height: 1.2;
  margin: 0 0 1em 0;
}

.Upcoming-venue-wee {
  font-size: 0.75em;
}

.Upcoming-newsletter {
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .Upcoming {
    text-align: center;
  }

  .Upcoming-column {
    margin: 0 auto;
    width: 12em;
  }
}


/* -------------------------------------------------------------------------- */


.FAQ {
  border-top: 1px solid #eee;
  margin-bottom: 20em;
  padding-top: 1em;
}

.FAQ-head {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}


/* -------------------------------------------------------------------------- */


.BackgroundImage {
  display: none;


  /* Set rules to fill background */
  min-height: 100%;
  min-width: 2160px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 2160px) { /* Specific to this particular image */
  .BackgroundImage {
    left: 50%;
    margin-left: -1080px;   /* 50% */
  }
}


/* -------------------------------------------------------------------------- */


.PageFooter {
  margin-top: 4em;
}

.PageFooter-imprint {
  font-size: 0.6em;
  text-align: center;
}


/* -------------------------------------------------------------------------- */


.vcard .photo,
.vcard .url,
.vcard .org {
  display: none;
}

.vcard .tel {
  white-space: nowrap;
}
